/* FormComponent.css */

form {
  max-width: 400px;
  margin: 0 auto;

}

label {
  display: block;
  margin-bottom: 22px;
  font-size: 20px; /* Tamaño de fuente para las etiquetas */
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 22px;
  font-size: 14px; /* Tamaño de fuente para los campos de entrada */
  box-sizing: border-box;
}

h2 {
  font-size: 22px;
  margin-bottom: 40px;
}

button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 22px; /* Tamaño de fuente para el botón */
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

button:hover {
  background-color: #45a049;
}
