.signup-page {
    display: flex;
    justify-content: space-between;
    background-image: url('../images/background.png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 100%; /* Ajusta la altura al 100% del contenedor */
    object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
}

.left-section {
    flex: 1;
}

.right-section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.account-signup {
    font-size: 50px;
    top: 1%;
    left: 30%;
    position: relative;
    color: #000000;
}

.welcome-message {
    font-size: 30px;
    color: #8692A6;
}

.register-account {
    position: absolute;
    top: 50%;
    right: 20%;
    height: 90; 
    font-size: 20px;
    color: #dfe2e9;
    z-index: 2;
}
.marvel-logo {
        position: absolute;
        top: 25%;  /* Adjust the vertical position as needed */
        left: 25%; /* Adjust the horizontal position as needed */
        transform: translate(-50%, -50%); /* Center the image based on its size */
        width: 300px; /* Adjust the width as needed */
        height: 200px; /* Maintain image proportion */
        /* Other styles as needed */
    }
    
    .register-button {
        position: absolute;
        width: 270px;
        top: 50%;
        right: 20%;
        height: 90; 

    }

    
    .google-login-button {
        position: relative;
        bottom: 70px; /* Ajusta la posición vertical según sea necesario */
        left: 80%; /* Ajusta la posición horizontal según sea necesario */
        transform: translateX(-50%); /* Centra el botón horizontalmente */
        z-index: 2;
      }
